#app {

    &.dark {
        --accent: #b1177f;
        --light-accent: #c14899;
        --dark-accent: #920a66;
        --accent2: #cce43b;
        --accent2-light: #d6e964;
        --accent2-dark: #aabf2a;

        --fill: #111;
        --light-fill: #444;
        --light-stroke: #CCC;
        --stroke: #FFF;

    }

    &.light {
        --accent: #1153d0;
        --fill: #FFF;
        --stroke: #111;
        --light-stroke: #444;
        --light-fill: #CCC;
    }


    #swatch {
        .accent {
            color: var(--accent);
        }

        .light-accent {
            color: var(--light-accent);
        }

        .dark-accent {
            color: var(--dark-accent);
        }

        .accent2 {
            color: var(--accent2);
        }

        .accent2-light {
            color: var(--accent2-light);
        }

        .accent2-dark {
            color: var(--accent2-dark);
        }

        .fill {
            color: var(--fill);
        }

        .light-fill {
            color: var(--light-fill);
        }

        .light-stroke {
            color: var(--light-stroke);
        }

        .stroke {
            color: var(--stroke);
        }
    }
}